# Node.js dependencies
/frontend/node_modules
/frontend/package-lock.json

# Python virtual environment
/backend/venv/
/backend/__pycache__/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# IDE-specific files
.vscode/
.idea/
